body{

}
header{
    align-items: center;
    text-align: center;
    display:flex;
    background: #47476B;
    height: 145px;
    width: 100%;
    margin: 0px;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-list li a {
    text-decoration: none;
    color: #1c1c1c;
}
.abrir-menu {
    margin-left: 30px;
    margin-right: 40px;
    transform: scale(5);
    display: none;
}
.cerrar-menu{
    display: none;
    transform: scale(2);
}

@media screen and (max-width: 2000px) {
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: #1c1c1c;
    }

    .cerrar-menu {
        color: #ececec;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgb(71,71,107);
background: linear-gradient(90deg, rgba(71,71,107,1) 50%, rgba(0,0,0,1) 100%, rgba(0,0,0,1) 100%);
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    
    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
        color: #ecececec;
    }
}
.img_h{
    margin-right:20px ;
    margin-left: 20px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: block;
    
}
.icono_menu{
    
    height: 140px;
    width: 140px;
    display: flex;

}
.icono_usuario{
    height: 120px;
    width: 120px;
    display: flex;

}
body{
    background: #000000;
   
}
.controls_B{
    height: 80px;
    width: 700px;
    background: #B2B1C1;
    padding: 10px;
    height: 100;
    border-radius: 12px;
    border: 0px solid #47476B;
    font-family: 'calibri';
    font-size: 18px;
    color: white;

}

.controls_A {
    margin-left: 30px;
    height: 30px;
    width: 329px;
    background: #B2B1C1;
    padding: 10px;
    height: 100;
    border-radius: 12px;
    border: 0px solid #47476B;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
    
}

.escribe{
    width: 400px;
    padding: 25px;
    margin: auto;
    margin-top: 12px;
    font-family: 'calibri';
    color: white;
    display: auto;
    
}
.buscar{
    height: 50px;
    margin-top: 30px;
    width: 100%;
    background: #B2B1C1;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #47476B;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
    
}
.boton_publicar{
    border: 0px;
    margin: auto;
    height: 49px;
    background: #B2B1C1;
    transform: scale(1);
    align-items: center;
    justify-content: center;
    
}

.boton_usuario{
    background: #47476B;
    border: 0px;
    margin-left: 20%;
}
.boton_menu{
    background: #47476B;
    border: 0px;
}

.img_b{
    
    width: 40px; /* Ajusta este valor según tus necesidades */
    height: 48px;
    position: absolute;
    margin-top: -30px;
    margin-right: 10px; /* Ajusta este valor según tus necesidades */
     /* Espacio entre la imagen y el texto */

}

