
header{
    background: #47476B;
    height: 80px;
    width: 100%;
    margin: 0px;
}



body{
    background: black;
   
}

.controls {
    width: 100%;
    background: #B2B1C1;
    padding: 10px;
    border-radius: 12px;
    margin-bottom: 16px;
    border: 1px solid #47476B;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
    
}

.escribe{
    width: 400px;
    padding: 30px;
    margin: auto;
    margin-top: px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
}

